:root {
    --black: #000000;
    --main-background: #141922;
    --upgrade-background: rgba(8, 11, 18, 0.5);
    --footer-background: #282828;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    min-width: 450px;
}

body .container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.fixed {
    position: fixed;
}

main {
    height: calc(100% - 70px);
    background-color: var(--main-background);
}

main .col-left {
    float: left;
    width: 200px;
    height: 100%;
    background-color: var(--black);
}

main .col-right {
    float: left;
    height: 100%;
    width: calc(100% - 200px);
    position: relative;
    overflow: auto;
}

main .col-right .right-container {
    margin-top: 70px;
}

.col-right .upgrade {
    top: 0;
    left: 200px;
    height: 70px;
    width: 100%;
    background-color: var(--upgrade-background);
}

footer {
    height: 70px;
    background-color: var(--footer-background);
}