:root {
    --black: #000000;
    --main-background: #141922;
    --upgrade-background: rgba(8, 11, 18, 0.5);
    --footer-background: #282828;
    --grey-text: #A3A3A3;
    --green: #ADFC30;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    min-width: 450px;
}

a {
    text-decoration: none;
    color: var(--grey-text);
    display: inline-block;
    height: 100%;
    width: 100%;
}

body .container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.mt1em {
    margin-top: 1em;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.fixed {
    position: fixed;
}

main {
    height: calc(100% - 70px);
    background-color: var(--main-background);
}

main .col-left {
    float: left;
    width: 200px;
    height: 100%;
    background-color: var(--black);
    color: var(--grey-text);
}

main .col-left .spotify-logo img {
    width: 75%;
    padding: 1em;
}

main .col-left .left-navbar ul {
    list-style-type: none;
}

main .col-left .left-navbar li {
    font-size: 0.8em;
}

main .col-left .left-navbar li.bordered {
    border-left: 2px solid var(--green);
}

main .col-left .left-navbar a {
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
}

main .col-left .left-navbar a:hover {
    color: white;
}

main .col-left .left-navbar img {
    width: 15%;
    margin-right: 0.5em;
}

main .col-right {
    float: left;
    height: 100%;
    width: calc(100% - 200px);
    position: relative;
    overflow: auto;
}

main .col-right .right-container {
    margin-top: 70px;
}

.col-right .upgrade {
    top: 0;
    left: 200px;
    height: 70px;
    width: 100%;
    background-color: var(--upgrade-background);
}

footer {
    height: 70px;
    background-color: var(--footer-background);
}